::selection {
    color: #FFFFFF;
    background-color: rgb(15, 122, 216);
}

html,
body {
    font-size: 14px;
    line-height: 1.6;
    font-family: "Heebo", 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', Helvetica, Arial, sans-serif, 'Apple Color Emoji';
    color: #3c3f45;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}